<!--本样式表仅定义一些基本样式-->
<!--潜规则：h2用于主标题，h3用于副标题；h4正文标题；h6用于脚注-->
<style type="text/css">
	body 
	{
		background-image:url(background.png);
		background-repeat:no-repeat;
		background-position:right top;
		margin-right:10px;
	}
	body  
	{
		font-family: Verdana, sans-serif;
	}

	p, td, ul, ol, li, dl, dt, dd
	{
		font-family: Verdana, sans-serif;
	}
	.center
	{
		text-align: center;
	}
	#myTitle
	{
		background-color:#EEEEEE;
	}
	#myTitle h2
	{
		color:orange;
		text-align:center;
		padding:2%;
	}
	#myTitle h3
	{
		text-align:right;
		margin-right:5%;
	}
	#forAll
	{
		margin-left:5%;
		margin-right:5%;
	}
	h6
	{
		text-align:right;
		margin-right:5%;
	}
	p
	{
		text-align:center;
		margin-right:5%;
	}
	ol
	{
		background-color:#F0FBEB;
		margin-right:5%;
		margin-left:5%;
	}
	div#ItsBackToHEAD
	{
		background-color:#F0FBEB;
		text-align:center;
		padding: 1px;
		position:fixed;
		height:10%;
		width:10%;
		right:5%;
		top:0px;
		box-shadow:5px 5px 5px #888888;
	}
	header, section, footer, aside, nav, main, article, figure {
		display: block; 
	}
	#oneRect 
	{
		width:198px;
		height:66px;
		padding:10px;
		border:1px solid #aaaaaa;
		
	}
</style>
